<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="stylesheet" type="text/css" href="/css/movies.css">
  <script th:inline="javascript">
    var data = [[${data}]];
  </script>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <div id="app"></div>

  <template id="movie-list">
    <div>
      <v-toolbar class="toolbar">
        <img class="profile-picture" :src="getProfilePicture"/>
        <div class="toolbar-buttons">
          <v-btn small href="/">Movies</v-btn>
        </div>
      </v-toolbar>
      <br>

      <h1 class="movie-list-header">To Watch</h1>
      <br/>
      <p class="placeholder-text" v-if="isToWatchEmpty">No movies marked to watch in your library</p>

      <div id="to-watch" class="movie-list">
        <movie-view v-for="movie in toWatch" :movie="movie" :key="movie.id"/>
      </div>

      <h1 class="movie-list-header">Watched</h1>
      <br/>
      <p class="placeholder-text" v-if="isWatchedEmpty">No movies marked watched in your library</p>

      <div id="watched" class="movie-list">
        <movie-view v-for="movie in watched" :movie="movie" :key="movie.id"/>
      </div>
    </div>
  </template>

  <template id="movie">
    <v-card class="movie-card">
      <div class="movie">
        <img :src="getImageSource">
        <h1>{{ movie.name }}</h1>
        <v-btn small v-if="ifMovieIsWatched" @click="markToWatch()">Mark To Watch</v-btn>
        <br v-if="ifMovieIsWatched"/>
        <v-btn small v-if="!ifMovieIsWatched" @click="markWatched()">Mark Watched</v-btn>
        <br v-if="!ifMovieIsWatched"/>
        <v-btn small @click="removeMovieFromLibrary()">Remove</v-btn>
      </div>
    </v-card>
  </template>

  <script src="/js/api.js"></script>
  <script src="/js/user-movies.js"></script>
</body>
</html>