<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/movies.css">
  <script th:inline="javascript">
    var data = [[${data}]];
  </script>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <a href="/">Main page</a>

  <div id="app"></div>

  <template id="movie-list">
    <div>
      <h1 class="movie-list-header">To Watch</h1>
      <br/>
      <p class="placeholder-text" v-if="isToWatchEmpty">No movies marked to watch in your library</p>

      <div id="to-watch" class="movie-list">
        <movie-view v-for="movie in toWatch" :movie="movie" :key="movie.id"/>
      </div>

      <h1 class="movie-list-header">Watched</h1>
      <br/>
      <p class="placeholder-text" v-if="isWatchedEmpty">No movies marked watched in your library</p>

      <div id="watched" class="movie-list">
        <movie-view v-for="movie in watched" :movie="movie" :key="movie.id"/>
      </div>
    </div>
  </template>

  <template id="movie">
    <div class="movie">
      <img :src="getImageSource">
      <p>{{ movie.name }}</p>
      <button @click="removeMovieFromLibrary()">Remove</button><br>
      <button v-if="ifMovieIsWatched" @click="markToWatch()">Mark To Watch</button>
      <button v-else @click="markWatched()">Mark Watched</button>
    </div>
  </template>

  <script src="/js/api.js"></script>
  <script src="/js/user-movies.js"></script>
</body>
</html>